.list {
  margin-top: 1.6rem;
  border-top: 1px solid var(--color-border);
}
.row {
  display: block;
  padding: 1.2rem 0.6rem;
  border-bottom: 1px solid var(--color-border);
  @include hover {
    background-color: var(--color-hover-bg);
  }
  span + span {
    padding-left: 0.6em;
  }
}
