// ---------------------------------------------------------------
//  Reset
// ---------------------------------------------------------------
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: inherit;
  background: transparent;
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
th,
dt {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
input,
select,
textarea,
button {
  vertical-align: middle;
  appearance: none;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
  color: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
