.heading {
  font-family: var(--font-serif);
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.body {
  display: grid;
  gap: 1em;
  ul {
    line-height: var(--leading-tight);
  }
  a {
    color: var(--color-link);
    @include hover {
      text-decoration: underline;
    }
  }
}
